.author_avatar{
    padding:20px;
 width:100%;
 height:auto;
 overflow: hidden;
 justify-content: center;
 margin:  20px auto;

 figure{
    border:2px solid #f8d9aa;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow:hidden; 
    width: 120px;
    height: 120px;
    border-radius: 50%;  
    max-width: 100%;
    background:#111;
     img{
         max-width: 100%;
         align-items: center;
         justify-content: center;
     }
 }  
 .author_name{
     h3{
         text-align: center;
         color:#ccc;
     }
 }
}