$primary-color : rgb(86, 95, 150);
$secondary-color : rgb(238, 127, 76);
$dark-color : rgb(26, 26, 26);


$media-size-x-small: '500px';
$media-size-small: '600px';
$media-size-medium: '768px';
$media-size-large: '1024px';

$media-size-hd: '1280';
$media-size-hd-plus: '1600';
$media-size-fullhd: '1920';
$media-size-2k: '2256';
$media-size-4k: '3840';

