@use 'base';
@use 'abstracts' as *;
@use 'includes' as *;
@use 'main_nav_aside' as *;
@use 'elements' ;
@use 'pages' ;
body{
    background: #f0f0f0;
}

#container{
    min-height: 100vh;
    background:#ccc;
    display:flex;
                    
}

#content{
 display: grid;
 grid-template-areas: "header header header header header header"
                      "page   page   page   page   page   page"
                      "footer footer footer footer footer footer";
 grid-template-rows: 60px auto 60px;
 flex-grow: 1;
 flex-shrink: 1;
}
